
body {
  background-color: rgb(43, 3, 82);
}

#board {
  width: 1500px;
  height: 800px;
  border: 1px solid rgb(248, 4, 4);
  background-color: black;
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(253, 255, 253);
  z-index: 2;
}

#snake-head {
  background-color: rgb(91, 7, 180);
}

.apple {
  background-color: red;
  z-index: 1;
}